li {
    list-style-type: none;
}
h1 {
    margin: 0;
}
body {
    background-color: lightgray;
    margin-top: 0;
}
#nameHeader {
    width: 80%;
    margin: auto;
    margin-top: 0;
    background-color: white;
}
#mainBox {
    width: 80%;
    margin: auto;
    display: flex;
    margin-top: 0;
    background-color: white;
}
#restaurantList {
    flex: 1;
    width: 30px;
  }

  #restaurantDetails {
    flex: 1 ;
    width: 350px;
  }

  #map {
    flex: 1 ;
  }

/* Add a black background color to the top navigation */
.topnav {
    width: 80%;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: red;
    color: white;
    margin-top: 0;
    font-family: "Geneva";
    font-size: 17px;
}

/* Style the links inside the navigation bar */
.topnav a {
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    padding-bottom: 10px;
    font-family: "Geneva";
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color:darkred;
    color: white;
}

.name {
    margin: 0;
    background-color: white;
}

